*{
  padding: 0;
  margin: 0                                                                                             ;
}

.flex-container {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between; /*To align items horizontally - Left to right*/

  /* flex-direction: column; */
  /* justify-content: center; */

  align-items: center; /*To align items vertically - Top to bottom*/
  height: 500px;
}

.item {
  /* flex: 1; */
  padding: 10px;
}

.blue {
  flex: 1;
  background: blue;
  color: white;
  margin-right: 5px;
}

.red {
  flex: 1;
  background: red;
  margin-left: 5px;
}

h1 {
  font-size: 30px;
}

.container {
  margin: 0 auto;
  width: 80%;
  border: 1px solid red;
}
/* assignment css */
.my-flex {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.about-img {
  flex: 1;
  border: 2px solid red;
}

.about-text {
  flex: 2;
}

.pastor-img-parent {
  width: 80%;
  margin: 0 auto;
  border: 2px solid blue;
}

/* pastor image */
.pastor-img {
  width: 100%;
  height: 350px;
}

/* main style */
.about-us {
  margin: 0 auto;
  width: 80%;
}
.about-text {
  margin-left: 80px;
  margin-right: 10px;
}
.about-h1 {
  text-align: center;
}
.button-txt {
  padding: 9px;
  border: none;
  border: 1px solid black;
  border-radius: 10px;
  background-color: blue;
  color: white;
}
/* Assignment 2 */
/* background image */
.background-img {
  background-image: url("./images/pexels-josh-sorenson-976866.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
}
/* background image text */
.background-img-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  height: 600px;
  align-items: center;
}
.background-img-text1,
.background-img-text2 {
  font-size: 55px;
}
/* .background-img-text2 {
  margin-top: -10px;
} */
.background-img-text3 {
  font-size: 20px;
  /* margin-top: -5px; */
}
.church-btn {
  padding: 15px 20px;
  border-radius: 7px;
  border: 1px solid white;
  background-color: yellow;
  color: black;
  font-weight: bolder;
}
/* Assignment 3 */
nav {
  background-color: aquamarine;
}
.nav-logo {
  width: 15%;
}
.logo {
  width: 40%;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-text {
  display: flex;
  justify-content: space-evenly;
  /* background-color: blue; */
  width: 50%;
  list-style: none;
  align-items: center;
  color: blue;
}
a {
  text-decoration: none;
}
.nav-btn {
  padding: 15px 20px;
  border: 1px solid white;
  background-color: yellow;
  color: black;
  font-weight: bolder;
  border-radius: 20px;
}
/* Assignment 3 */
.social-media{
  width: 100%;
  height: 200px;
  background-color: blue;
}
.media-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex-direction: column;
  color: white;
  font-size: 40px;
 
}
.media-icons{
   margin-top: 19px;
 display: flex;
  justify-content: space-between;
  /* background-color: aquamarine; */
  width: 20%;
}